.ex {
  width: 100%;
  margin: 20px auto 0;
  font-family: Arial, sans-serif;
}

.ex-feature {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}
label.ex-definition{
  display: inline-block;
  font-size: 12px;
  margin: 0px 10px 5px;
  color: hsl(0, 0%, 50%);
}

.ex-lists {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.ex-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
  overflow: auto;
}
.ex-item button{
  width: 20px;
  height: 20px;
  color: hsl(0, 0%, 50%);
  border: none;
}
/* .ex-item button:hover{
  background-image: url('../assets/delete.png');
  background-size: cover;
} */

.ex-description {
  text-align: start;
  color: #333;
  font-size: 13px;
  margin-left: 10px;
}

.ex-period {
  text-align: end;
  color: #999;
}

.ex-input {
  display: flex;
  flex-direction: column;
}

.ex-input input {
  margin: 5px 0px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.ex-btnGroup {
  display: flex;
  justify-content: space-between;
}

.ex-addBtn {
  margin: 5px 0px;
  padding: 5px;
  border: none;
  width: 72.5%;
  background-color: #3b5998;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.ex-cancelBtn {
  margin: 5px 0px;
  padding: 5px;
  border: none;
  width: 22.5%;
  background-color: #f44336;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.ex-addExperience {
  text-align: center;
  margin: 5px;
  color: #999;
  cursor: pointer;
  font-size: 13px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
