.newSearch-body {
  margin: 0;
  font-family: 'Pretendard';
  font-style: normal;
  background-color: #ffffff;
}

.newSearch-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.newSearch-top-bar {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

.newSearch-back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.newSearch-back-icon {
  width: 15.38px;
  height: 12.3px;
  margin: 0;
}

.newSearch-search-input {
  flex: 1;
  padding: 7.69px;
  font-size: 12.3px;
  border: none;
  border-radius: 3.85px;
  margin-left: 7.69px;
  background-color: #f5f5f5;
  outline: none;
}

.newSearch-search-input::placeholder {
  color: #a8a8a8;
  font-size: 12.3px;
}

.newSearch-second-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9.23px;
}

h3 {
  font-size: 12.3px;
  color: #121212;
  margin: 0;
}

.newSearch-clear-button {
  background: none;
  border: none;
  color: #616161;
  cursor: pointer;
  font-size: 12.3px;
  padding: 0;
}

.newSearch-search-results {
  text-align: left;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-top: 12.3px;
  display: flex;
  justify-content: space-between;
  color: #121212;
  font-size: 12.3px;
  cursor: pointer;
}

.newSearch-list-item-left {
  display: flex;
  align-items: end;
}

.newSearch-recent-icon,
.newSearch-search-icon {
  width: 10.77px;
  height: 10.77px;
  margin-right: 7.69px;
}

.newSearch-delete-button {
  background: none;
  border: none;
  color: #616161;
  cursor: pointer;
  font-size: 12.3px;
  padding: 0;
}

.newSearch-filter-bar {
  display: flex;
  padding: 12.3px 0;
  margin-bottom: 5px;
}

.newSearch-filter-button {
  border: none;
  border-radius: 15.38px;
  color: #595959;
  background-color: #f5f5f5;
  padding: 3.85px 7.69px;
  font-size: 12.3px;
  margin-right: 7.69px;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
}

.newSearch-filter-button.active {
  background-color: #2546f3;
  color: #ffffff;
}

.newSearch-highlight {
  color: #2546f3;
}

.newSearch-team-member-results {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 7.69px;
}

.newSearch-team-member {
  display: flex;
  align-items: top;
  padding: 3.08px 0;
  border-bottom: 1px solid #ddd;
}

.newSearch-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 11.54px;
}

.newSearch-member-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3.08px;
  margin-bottom: 15.38px;
}

.newSearch-member-name-relation {
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  margin: 0;
}

.newSearch-member-name {
  font-size: 12.3px;
  color: #121212;
}

.newSearch-member-relation {
  font-size: 10.77px;
  color: #595959;
  vertical-align: text-bottom;
}

.newSearch-member-details {
  margin: 0;
  font-size: 11.54px;
  color: #121212;
}

.newSearch-member-keywords {
  margin: 0;
  font-size: 11.54px;
  color: #595959;
}

.newSearch-add-button {
  background: none;
  border: none;
  width: 23.08px;
  height: 23.08px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.newSearch-add-button.checked {
  background: none;
  cursor: not-allowed;
}

.newSearch-check-icon {
  margin-top: 18px;
  width: 23.08px;
  height: 23.08px;
}

.newSearch-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.newSearch-major-popup {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 284.62px;
  height: auto;
  max-height: 80%;
  background: white;
  border-top-left-radius: 7.69px;
  border-top-right-radius: 7.69px;
  box-shadow: 0 -3.85px 7.69px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 7.69px;
  z-index: 101;
}

.newSearch-major-popup-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.newSearch-major-popup-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.69px;
  width: 100%;
}

.newSearch-major-popup-header h3 {
  font-size: 15.38px;
  color: #121212;
  margin: 0;
  padding-bottom: 7.69px;
}

.newSearch-major-search-input {
  flex: 1;
  width: 253.85px;
  padding: 7.69px;
  font-size: 12.3px;
  border: none;
  border-radius: 3.85px;
  background-color: #f5f5f5;
  outline: none;
}

.newSearch-major-search-input::placeholder {
  color: #a8a8a8;
  font-size: 12.3px;
}

.newSearch-major-popup-body {
  flex: 1;
  max-height: 50%;
  padding: 7.69px;
}

.newSearch-major-popup-footer {
  text-align: center;
  padding: 7.69px;
}

.newSearch-result-button {
  width: 100%;
  padding: 6.15px;
  background-color: #0923a9;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 12.3px;
}

.newSearch-result-button.zero {
  background-color: #a8a8a8;
  cursor: not-allowed;
}

.newSearch-major-popup ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 7.69px;
  justify-content: flex-start;
}

.newSearch-major-popup ul li {
  padding: 3.85px 7.69px;
  border: 1px solid #616161;
  border-radius: 15.38px;
  cursor: pointer;
  background-color: #ffffff;
  color: #6a6d7d;
  font-size: 12.3px;
  text-align: center;
}

.newSearch-major-popup ul li.selected {
  border: 1px solid #2546f3;
  background-color: #2546f3;
  color: #ffffff;
}
