body {
  margin: 0;
  font-family: "Pretendard", Arial, sans-serif;
  background-color: #ffffff;
}

.notification-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.notification-container h1 {
  font-family: "Pretendard", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.019em;
  text-align: left;
  color: #121212;
  margin-bottom: 20px;
}

.notification-back button {
  border: none;
  background-image: url("../assets/Profile/left-arrow.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 10px 0px;
}

.notification-back button:hover {
  cursor: pointer;
}

.notification-list {
  list-style-type: none;
  padding: 0;
}

.notification-list li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 0.7px solid #ddd;
  background-color: white;
  margin-bottom: 0;
  justify-content: space-between;
  gap: 0px;
  position: relative;
}

.notification-list li.read {
  background-color: #f5f5f5;
}

.notification-list li.unread {
  background-color: #eef4ff;
}

.notification-list li .notification-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.notification-list li .message {
  font-family: "Pretendard", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;
  color: #121212;
  margin-bottom: 10px;
  max-width: 200px; /* 메시지의 최대 가로 길이를 제한 */
  word-wrap: break-word; /* 줄바꿈이 발생하도록 설정 */
}

.notification-list li .delete {
  background: none;
  color: #A8A8A8;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 10;
  font-size: 22px; /* X 표시와 버튼의 크기를 동일하게 설정 */
  line-height: 22px; /* X 표시를 버튼 내에서 중앙에 배치 */
  text-align: center; /* X 표시를 가운데 정렬 */
  transform: scaleY(0.8);
}

.notification-list li .delete::before {
  content: "×";
}

.notification-list li .delete:hover,
.notification-list li .delete:active {
  background: none;
  border: none;
  color: #A8A8A8;
}

.notification-list li .created-at {
  font-size: 12px;
  color: #595959;
  align-self: flex-end;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 85%; /* 시간 위치를 가운데에서 약간 아래로 조정 */
  transform: translateY(-50%); /* 수직 정렬 보정 */
}
