.policy-view-container {
    width: 100%;
    padding: 12px 0px;
}

.policy-link-container {
    width: 100%;
    text-align: left;

}

.policy-link-container a {
    color: #121212;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.304px;
    text-decoration-line: underline;
}

.policy-view-with-mt-8 {
    margin-top: 8px;
}