.profile {
  /* border: 1px solid black; */
  width: 300px;
  margin: 0 auto;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
.profile-back button {
  border: none;
  background-image: url("../assets/Profile/left-arrow.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 10px 0px;
}
.profile-back button:hover {
  cursor: pointer;
}
.profile h4 {
  margin: 10px 0px;
}
.profile-card {
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-imageContainer {
  width: 120px;
  height: 150px;
  margin-right: 20px;
  cursor: pointer;
}

.profile-imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.profile-name,
.profile-friend {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

button.profile-editBtn {
  padding: 0px;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  background-image: url("src/assets/Profile/pencil.png");
  background-size: cover;
  border: none;
}
button.profile-editBtn:hover {
  cursor: pointer;
}

.profile-info h2 {
  margin: 0;
  font-size: 16px;
  color: black;
  display: inline-block;
}

.profile-line {
  border-top: 3px solid hsla(240, 100%, 35%);
  margin: 10px 0px;
  width: 25px;
}

.profile-info p,
span.profile-oneDegree {
  margin: 2px 0 5px;
  font-size: 14px;
  color: black;
}

.profile-friend img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.profile-tags {
  margin-top: 35px;
}
.profile-feature {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}
label.profile-definition {
  display: inline-block;
  font-size: 12px;
  margin: 0px 10px 5px;
  color: hsl(0, 0%, 50%);
}

span.profile-tag {
  display: inline-block;
  background-color: #f1f1f1;
  color: black;
  padding: 5px 10px;
  border-radius: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5em;
}

span.profile-tag button {
  width: 20px;
  height: 20px;
  color: hsl(0, 0%, 50%);
  border: none;
  margin-left: 10px;
  padding: 0;
}

span.profile-addTag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5em;
  background-color: #f1f1f1;
  color: hsl(0, 0%, 70%);
  cursor: pointer;
}

.profile-tagInput {
  display: flex;
  align-items: center;
}

.profile-tagInput input {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.profile-tagInput button {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
}

.profile-tagInput button:last-child {
  background-color: #f44336;
}

button.profile-submitBtn {
  background-color: hsla(240, 100%, 35%);
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 20px;
  padding: 10px;
  flex-grow: 1;
}
button.profile-submitBtn:disabled {
  background-color: hsla(0, 0%, 45%, 0.76);
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 20px;
  padding: 10px;
  flex-grow: 1;
}

button.profile-submitBtn:hover {
  cursor: pointer;
}
button.profile-submitBtn:disabled:hover {
  cursor: default;
}
