form.register{
  margin: 0 auto;
  width: 300px;
  min-width: 300px;
  padding: 0;
  box-shadow: none;
  /* border: 1px solid black; */
  
}
.register-back button{
  border: none;
  /* background-image: url('../assets/left-arrow.png'); */
  background-size: cover;
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin: 10px;
}
.register-back button:hover{
  cursor: default;
}
label.register-label{
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: bold;
}
form.register h4{
  margin: 10px 0px;
}
.register-container{
  /* border: 1px solid black; */
  margin: 0px;
  display: flex;
  flex-direction: column;
}
input.register-input{
  background-color: hsla(0, 0%, 95%, 0.956);
  border: none;
  border-radius: 5px;
  height: 2rem;
  margin: 0px;
  /* padding: 0px; */
  flex-grow: 1;

}
button.register-nextBtn{
  background-color: #0000b3;
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 20px;
  padding: 10px;
  flex-grow: 1;
}
button.register-nextBtn:disabled{
  background-color: hsla(0, 0%, 45%, 0.76);
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 20px;
  padding: 10px;
  flex-grow: 1;
}
button.register-nextBtn:hover{
  cursor: pointer;
}
button.register-nextBtn:disabled:hover{
  cursor: default;
}
select{
  background-color: hsla(0, 0%, 95%, 0.956);
  border: none;
  border-radius: 5px;
  height: 2rem;
  margin-bottom: 5px;
  flex-grow: 1;
}

.placeholder-text {
  color: #A8A8A8;
  font-size: 12px;
}
