.major-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
  padding: 7.69px 7.69px;
  background-color: #F5F5F5;
  border-radius: 5px;
  min-height: 18.62px;
  align-items: center;
}

.major-element {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 12.3px;
  color: #121212;
  cursor: pointer;
  height: 15px;
}
