.setting-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.setting-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.setting-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.setting-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.setting-container button:hover {
  background-color: #0056b3;
}

.account-delete-container {
  margin-top: 40px;
}

.account-delete-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #c9302c;
  text-align: center;
}

.account-delete-container button {
  width: 100%;
  padding: 10px;
  background-color: #c9302c;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-delete-container button:hover {
  background-color: #a02624;
}
