body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.setting-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.setting-incontianer {
  padding: 0 10px;
}

.setting-password-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.setting-arrow-icon {
  transition: transform 0.3s;
}

.setting-section-title {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 600;
  line-height: 19px;
  color: #121212;
  margin-right: 10px;
}

.setting-password-change-section,
.setting-withdraw-section {
  margin-bottom: 20px;
}

.setting-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.setting-input-group label {
  width: 120px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.019em;
  color: #121212;
}

.setting-input-group input[type="password"] {
  padding: 7px;
  border: 0;
  border-radius: 5px;
  background: #f5f5f5;
  width: 150px;
}

.setting-change-password-button,
.setting-withdraw-button,
.setting-inquiry-button {
  width: 100%;
  padding: 7px;
  font-size: 14px;
  background-color: #0923a9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.setting-change-password-button:disabled,
.setting-withdraw-button:disabled,
.setting-inquiry-button:disabled {
  background-color: #a8a8a8;
  cursor: not-allowed;
}

.setting-error {
  color: red;
  font-size: 12px;
  margin: 5px 0;
}

.setting-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-withdraw-modal-content {
  background: #fff;
  border-radius: 6px;
  padding: 18px;
  max-width: 250px;
  width: 100%;
  text-align: center;
}

.setting-withdraw-modal-content .setting-modal-title {
  font-size: 12px;
  color: #0923a9;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-withdraw-modal-content .setting-withdraw-icon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.setting-withdraw-modal-content .setting-modal-description {
  font-size: 9px;
  color: #595959;
  margin-top: 0;
  margin-bottom: 18px;
}

.setting-withdraw-modal-content .setting-modal-buttons {
  display: flex;
  justify-content: space-around;
}

.setting-withdraw-modal-content .setting-modal-button {
  font-size: 12px;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.setting-withdraw-modal-content .setting-cancel-button {
  background-color: #fff;
  color: #121212;
}

.setting-withdraw-modal-content .setting-confirm-button {
  background-color: #fff;
  color: #2546f3;
}

.setting-final-modal-title {
  font-size: 12px;
  color: #0923a9;
  font-weight: bold;
}

.setting-final-modal-description {
  font-size: 9px;
  color: #595959;
  margin-top: 0;
  margin-bottom: 18px;
}

.setting-final-confirm-button {
  font-size: 12px;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  color: #121212;
}

/* 문의하기 */
.setting-inquiry-section {
  margin-bottom: 20px;
}

.setting-inquiry-section > p {
  font-size: 12px;
  font-weight: 300;
}

.setting-inquiry-textarea {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background: #f5f5f5;
  resize: none; /* 텍스트 영역의 크기 조절 비활성화 */
  height: 100px; /* 텍스트 영역의 높이 설정 */
  font-size: 14px;
  box-sizing: border-box; /* 패딩과 경계를 포함한 전체 너비로 설정 */
}

.setting-policy-section a {
  color: #121212;
  text-decoration: underline;
  font-size: 14px;
}

.setting-logout-icon {
  margin-left: 2px; /* 텍스트와 아이콘 사이 간격 */
}
