.welcome{
  margin: 0 auto;
  width: 100vw;
  min-width: 300px;
  /* border: 1px solid black; */
  
}
.welcome-container{
  margin: 80px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-intro{
  text-align: center;
  font-family: Pretendard;
  font-weight: 600;
  letter-spacing: -0.384px;
  padding-top: 20px;
}
span.welcome-name{
  margin-top: 30px;
  display: inline-block;
  font-size: 12px;
}
.welcome-teambl{
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
  margin-top: 35px;
  letter-spacing: -0.624px;
}
label.welcome-outro{
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  letter-spacing: -0.384px;
  font-family: Pretendard;
}

button.welcome-nextBtn{
  background-color: #0000b3;
  height: 2rem;
  width: 300px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 350px;
  padding: 10px;
}
button.welcome-nextBtn:hover{
  cursor: pointer;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이 */
  background-color: #f8f9fa; /* 배경색 설정 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}

.loading-text {
  font-size: 24px; /* 텍스트 크기 설정 */
  font-weight: bold; /* 텍스트 두께 설정 */
  color: #333; /* 텍스트 색상 설정 */
  line-height: 1.5; /* 줄 간격 설정 */
}

.loading-subtext {
  color: #333; /* 검은색(진한 회색) */
}

.loading-highlight {
  color: #0923A9; /* 파란색 */
}

.welcome-expired {
  margin: 0 auto;
  width: 300px;
  min-width: 300px; 
}

.welcome-expired-container {
  margin: 200px 13px 0px;
}

span.welcome-expired-span {
  color: #000;
  font-family: Pretendard;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 36.4px */
  letter-spacing: -0.624px;
}

.welcome-expired-label {
  margin-top: 30px;
  display: inline-block;
  color: #121212;
  font-family: Pretendard;
  font-weight: 400;
  letter-spacing: -0.304px;
  font-size: 13px;
  font-style: normal;
  line-height: 140%; /* 22.4px */
}


button.welcome-exitBtn{
  background-color: #0000b3;
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 280px;
  padding: 10px;
}

button.welcome-exitBtn:hover{
  cursor: pointer;
}
