.addProject-body {
    margin: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system,
      BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
      "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.addProject-container {
    width: 100%;
    margin: 0 auto;
}

.addProject-backward-btn-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.addProject-backbutton {
    border: none;
    margin: 0;
    padding: 0;
    width: 20px;
    background-color: transparent;
}

.addProject-backbutton img {
    width: 20px;
    height: 16px;
}

.addProject-backbutton:hover {
    cursor: pointer;
}

.addProject-title-container {
    width: 100%;
    text-align: left;
    margin-top: 20px; /* for layout */
    color: #121212;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.38px;
}

.addProject-field-title-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.addProject-field-title {
    color: #121212;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.addProject-field-title-star {
    color: var(--00, #121212);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    left: 5px;
    top: -4px;
}

.addProject-field-subtitle {
    color: var(--01, #595959);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 12px;
}

.addProject-field-input {
    width: 100%;
    padding: 11px 12px;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    background: #F5F5F5;
    color: var(--00, #121212);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    outline: none;
}

.addProject-field-input::placeholder {
    color: var(--03, #A8A8A8);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.addProject-textarea-container {
    width: 100%;
    padding: 16px 12px;
    background: var(--05, #F5F5F5);
    border-radius: 5px;
    box-sizing: border-box;
}

.addProject-textarea {
    padding: 0px;
    height: 214px;
    width: 100%;
    background: var(--05, #F5F5F5);
    box-sizing: border-box;
    border: none;
    outline: none;
    color: var(--00, #121212);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    overflow: auto;
    resize: none;
}

.addProject-textarea::placeholder {
    color: var(--03, #A8A8A8);
    text-align: justify;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.addProject-image-container {
    border-radius: 5px;
    background: var(--05, #F5F5F5);
    padding: 16px 12px;
}

.addProject-image-message-container {
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.addProject-image-message {
    color: var(--03, #A8A8A8);
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 2px;
}

.addProject-horizontal-bar {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
}

.addProject-add-button-container {
    padding: 16px 0px 0px 0px;
    width: 100%;
    text-align: center;
}

.addProject-add-button {
    background: none;
    border: none;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 50%;
}

.addProject-add-button-text {
    color: #A8A8A8;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: var(--Body-Large-Tracking, 0.5px);
}

.addProject-friend-container {
    border-radius: 5px;
    background: #F5F5F5;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 12.5px;
}

.addProject-friend-message {
    color: var(--03, #A8A8A8);
    text-align: justify;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: 1px;
}

.addProject-contact-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.addProject-save-button {
    outline: none;
    border: none;
    margin-top: 32px;
    width: 350px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0923A9;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.304px;
}

.addProject-btn-disabled {
    background: #A8A8A8;
}

.addProject-element {
    display: inline-block;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5.5px 8px;
    font-size: 14px;
    color: #121212;
    cursor: pointer;
    margin-bottom: 6px;
}

.addProject-remove-element {
    background: none;
    border: none;
    color: #a8a8a8;
    font-size: 16px;
    cursor: pointer;
    padding: 0px;
    margin-left: 10px;
}

.addProject-friend-message-container {
    width: 100%;
    padding: 11px 0px;
}

.addProject-element-container {
    width: 100%;
    padding: 6px 0px 0px 0px;
}

.addProject-image-preview-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.addProject-image-preview {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.addProject-image-preview img {
    width: 97.5px;
    height: 172.5px;
    border-radius: 10px;
    border: none;
}

.addProject-image-preview-cancle-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border: 1px solid #A8A8A8;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

















/* ETC */
.addProject-loader-container {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addProject-loader {
    width: 50px;
    aspect-ratio: 1;
    --_c:no-repeat radial-gradient(farthest-side,#2546F3 92%,#0000);
    background: 
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 12px 12px;
    animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}

.addProject-button-loader {
    width: 20px;
    aspect-ratio: 1;
    --_c:no-repeat radial-gradient(farthest-side,#fff 92%,#0000);
    background: 
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 6px 6px;
    animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}

.addProject-error-container {
    width: 100%;
    text-align: center;
}

.addProject-with-pd-28 {
    padding-bottom: 28px;
}

.addProject-with-mt-32 {
    margin-top: 32px;
}

.addProject-with-mt-12 {
    margin-top: 12px;
}

.addProject-with-mt-16 {
    margin-top: 16px;
}

.addProject-with-mt-24 {
    margin-top: 24px;
}

.addProject-with-ml-8 {
    margin-left: 8px;
}

.addProject-with-mb-12-5 {
    margin-bottom: 12.5px;
}