@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.profileOther-body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

.profileOther-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.profileOther-backbutton {
  border: none;
  margin: 10px 0px;
  background-color: transparent;
}

.profileOther-backbutton img {
  width: 20px;
  height: 16px;
}

.profileOther-backbutton:hover {
  cursor: pointer;
}

.profileOther-top {
  display: flex; /* profile-image와 profile-detail을 가로로 정렬 */
  align-items: center; /* 수직 정렬을 중앙으로 설정 */
  gap: 20px; /* 이미지와 상세 정보 사이의 간격 */
  margin-bottom: 24px;
}

.profileOther-top img {
  width: 90px;
  height: 120px;
  border-radius: 5px;
  object-fit: cover;
}

.profileOther-profile-detail {
  display: flex;
  flex-direction: column; /* row1, row2, row3를 세로로 정렬 */
  gap: 10px; /* 각 row 사이의 간격 */
}

.profileOther-profile-row1 {
  display: flex; /* name과 one_degree_count를 가로로 정렬 */
  gap: 8px; /* 이름과 1촌 정보 사이의 간격 */
  align-items: center;
}

.profileOther-profile-name {
  font-size: 17px;
  font-weight: 700;
  color: #121212;
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: hidden; /* 넘친 내용을 숨김 */
  text-overflow: ellipsis; /* 너무 긴 텍스트를 생략 부호(...)로 표시 */
  max-width: 60px;
}

.profileOther-profile-relationshipDegree {
  font-size: 11px;
  font-weight: 400;
}

.profileOther-oneDegree-button {
  background-color: #2546f3;
  color: white;
  font-size: 10px;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 5px;
  border: #2546f3;
  min-width: 40px;
}

.profileOther-profile-one_degree_count {
  display: flex;
  font-size: 13.714px; /* 1촌 정보 텍스트 크기 */
  color: #0923a9; /* 텍스트 색상 */
  font-weight: 500;
}

.to-disabled-button {
  background-color: #a8a8a8;
  border: #a8a8a8;
}

.profileOther-profile-row2,
.profileOther-profile-row3,
.profileOther-profile-row4 {
  font-size: 13.714px; /* 학력 정보 및 전공 텍스트 크기 */
  color: #121212; /* 텍스트 색상 */
}

.profileOther-keywords {
  display: flex; /* 키워드를 가로로 정렬 */
  flex-wrap: wrap; /* 줄 바꿈을 허용하여 박스들이 다음 줄로 내려가게 함 */
  gap: 8px; /* 키워드 박스들 사이의 간격 설정 */
  margin-top: 20px;
  margin-bottom: 32px;
}

.profileOther-keyword {
  background-color: #eef4ff;
  color: #121212;
  padding: 8px 12px; /* 박스 내부 패딩 */
  border-radius: 5px; /* 모서리를 둥글게 */
  font-size: 13.714px; /* 텍스트 크기 */
  display: flex; /* 내용물이 수평으로 중앙 정렬되도록 함 */
  align-items: center; /* 내용물이 수직으로 중앙 정렬되도록 함 */
}

.profileOther-title,
.profileOther-experiences-title,
.profileOther-tools-title {
  color: #121212;
  font-size: 13.714px;
  font-weight: 700;
  width: 44px;
}

.profileOther-keyword-title,
.profileOther-introduction-title,
.profileOther-portfolioLinks-title,
.profileOther-title-path {
  color: #121212;
  font-size: 13.714px;
  font-weight: 700;
  margin-bottom: 16px;
}

.profileOther-flexbox {
  display: flex;
}

.profileOther-gray-separator {
  width: 2px;
  height: 23px;
  margin: 0px 12px 0px 0px;
  background-color: #d9d9d9;
}

.profileOther-list-element {
  font-size: 13.714px;
  background: none;
  padding: 0px;
  margin-bottom: 0; /* 리스트 사이 간격 제거 */
}

.profileOther-row {
  display: flex; /* 한 줄(row)로 구분선과 경험을 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.profileOther-experiences {
  margin-bottom: 24px;
  display: block;
}

.profileOther-tools {
  margin-bottom: 24px;
}

.profileOther-introduction {
  margin-bottom: 24px;
}

.profileOther-introduction-body {
  margin-top: 16px;
  font-size: 13.714px;
  background: none;
  padding: 0px;
  white-space: pre-wrap;
}

.profileOther-portfolioLinks {
  margin-bottom: 24px;
}

.profileOther-path {
  border-radius: 5px;
  margin-bottom: 24px;
  background-color: #f5f5f5;
}

.profileOther-path-container {
  padding: 10px;
}

.profileOther-path-title {
  padding: 2px 6px;
  color: #121212;
  font-size: 13px;
}

.profileOther-path-title-name {
  font-weight: bold;
}

.profileOther-path-title-number {
  color: #2546f3;
  font-weight: bold;
}

.profileOther-path-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.profileOther-scroll-container {
  height: 40px; /* 스크롤 가능한 영역의 높이 설정 */
  width: auto;
  overflow-y: scroll;
  background-color: #ffffff;
  border: none;
  border-radius: 17px;
  scroll-snap-type: y mandatory;
}

.profileOther-path-name-end {
  color: #121212;
  font-size: 13px;
  font-weight: bold;
}

.profileOther-scroll-item {
  color: #2546f3;
  font-size: 13px;
  font-weight: bold;
  height: 40px; /* 스크롤 아이템의 높이 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  margin: 0 20px;
}

.profileOther-scroll-container::-webkit-scrollbar {
  display: none;
}
