.resetPassword-body {
  margin: 0px;
}

.resetPassword-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.resetPassword-back button {
  border: none;
  background: transparent;
  margin: 0px;
  padding: 0px;
}

.resetPassword-back button:hover {
  cursor: pointer;
}

.resetPassword-back button img {
  width: 20px;
  height: 20px;
}

.resetPassword h4 {
  margin: 10px 0px;
}

.resetPassword-label-incorrect {
  font-size: 10px;
  color: red;
}

.resetPassword-label-correct {
  font-size: 10px;
  color: green;
}

label.resetPassword-label {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: bold;
}
.resetPassword-email {
  display: flex;
}
.resetPassword-email input {
  background-color: hsla(0, 0%, 95%, 0.956);
  border: none;
  border-radius: 5px;
  width: 190px;
  height: 2rem;
  margin-bottom: 5px;
  flex-grow: 1;
  padding: 1px 2px;
}
button.resetPassword-emailBtn {
  margin: 0;
  margin-left: 10px;
  background-color: hsla(240, 100%, 35%);
  width: 95.34px;
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  padding: 10px;
}
button.resetPassword-emailBtn:disabled {
  margin: 0;
  margin-left: 10px;
  background-color: hsla(0, 0%, 45%, 0.76);
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  padding: 10px;
}
input.resetPassword-code {
  background-color: hsla(0, 0%, 95%, 0.956);
  border: none;
  border-radius: 5px;
  height: 2rem;
  margin-bottom: 5px;
  flex-grow: 1;
}

input.resetPassword-password {
  background-color: hsla(0, 0%, 95%, 0.956);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  margin-bottom: 5px;
  padding: 1px 2px;
}

.resetPassword-resetBtn {
  background-color: hsla(240, 100%, 35%);
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 20px;
  padding: 10px;
  flex-grow: 1;
}
.resetPassword-resetBtn:disabled {
  background-color: hsla(0, 0%, 45%, 0.76);
}

.resetPassword-resetBtn:hover {
  cursor: pointer;
}
.resetPassword-resetBtn:disabled:hover {
  cursor: default;
}

button.resetPassword-emailBtn:hover {
  cursor: pointer;
}
button.resetPassword-emailBtn:disabled:hover {
  cursor: default;
}
