.ResetPasswordConfirm-body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ResetPasswordConfirm-container {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  position: relative;
}

.ResetPasswordConfirm-title {
  font-size: 22.28px;
  font-weight: 600;
  color: #000000;
  margin: 0px 0px 10px 0px;
  text-align: left;
}

.ResetPasswordConfirm-text {
  font-size: 13.71px;
  font-weight: 400;
  color: #121212;
  margin: 0px;
  text-align: left;
}

.ResetPasswordConfirm-login-button {
  background-color: hsla(240, 100%, 35%);
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.8rem;
  margin-top: 280px;
  padding: 10px;
}
