.fd-popup-overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(18, 18, 18, 0.8); /* #121212 80% 투명 배경 */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* 팝업을 하단에 배치 */
  z-index: 1000;
}

.fd-popup-overlay {
  position: relative;
  bottom: 0;
  width: 100%;
  max-width: 284.62px;
  height: 30%;
  max-height: 80%;
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -3.85px 7.69px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 0px 27.4px 27.4px 27.4px;
  z-index: 101;
}

.fd-popup-top {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.fd-popup-top img {
  margin: 16px 0px 17px;
}

.fd-popup-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fd-popup-description {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.fd-popup-description h3 {
  font-size: 15.428px;
  font-weight: 600;
  margin: 0px;
}

.fd-popup-description p {
  font-size: 11px;
  margin: 0px;
}

.fd-popup-radio-container label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}

.fd-popup-radio-container input {
  margin-right: 8px;
}

.fd-delete-confirm-button {
  display: inline-flex;
  align-items: center;
  background-color: transparent; /* Transparent background */
  color: #1a3dc1; /* Blue text color matching the image */
  padding: 10px 20px; /* Padding for button */
  border: none; /* No border */
  font-size: 16px; /* Font size */
  font-weight: 600; /* Bold text */
  cursor: pointer; /* Pointer cursor */
  margin-top: 20px; /* Space above */
  width: 100%; /* Full width button */
  text-align: center; /* Center the text */
}

.fd-bluex-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.fd-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the modal vertically and horizontally */
  z-index: 1000;
}

.fd-withdraw-modal-content {
  background: #fff;
  border-radius: 6px;
  padding: 18px;
  max-width: 250px;
  width: 100%;
  text-align: center;
}

.fd-modal-title {
  font-size: 12px;
  color: #0923a9;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fd-withdraw-icon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.fd-modal-description {
  font-size: 9.5px;
  color: #595959;
  margin-top: 0;
  margin-bottom: 18px;
}

.fd-modal-buttons {
  display: flex;
  justify-content: space-around;
}

.fd-modal-button {
  font-size: 12px;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.fd-cancel-button {
  background-color: #fff;
  color: #121212;
}

.fd-confirm-button {
  background-color: #fff;
  color: #2546f3;
}

.fd-hidden {
  display: none;
}
